@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .columns-1 {
    columns: 1;
  }
  .columns-2 {
    columns: 2;
  }
  .columns-3 {
    columns: 3;
  }
  .columns-4 {
    columns: 4;
  }
  .columns-5 {
    columns: 5;
  }
}
